html {
    height: auto;
    overflow: auto;
}

.data,
.parameter:active,
.parameter:hover,
.parameter {
    border-color: white;
    color: rgb(24, 29, 21);
    margin: 5px;
    padding: 5px;
    background: rgb(185, 191, 184);
}

.parameter:active,
.parameter:hover,
.parameter {
    border-radius: 5px;
    border-style: groove ridge ridge groove;
    cursor: pointer;
}

.data {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.time {
    color: rgb(73, 75, 71);
    font-size: small;
}

#chart {
    display: none;
}

.data_box {
    display: flex;
    align-items: center;
}

img {
    height: 20px;
    padding: 5px;
}

.image_link:active,
.image_link:hover,
.image_link {
  color: none;
  padding: 0;
  background: none;
  margin: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
}