a:active,
a:hover,
a {
  text-decoration: none;
  color: rgb(52, 78, 34);
  padding: 15px 25px;
  background: rgb(145, 161, 140);
  margin: 20px;
  border-radius: 5%;
  font-family: system-ui;
  font-size: large;
  text-align: center;
  cursor: pointer;
}

html {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:hover {
  background: rgb(201, 212, 198);
}

.back:active,
.back:hover,
.back {
  position: fixed;
  left: 5px;
  top: 5px;
}

.mini:active,
.mini:hover,
.mini {
  padding: 5px;
  font-size: medium;
}

.right_options {
  position: fixed;
  right: 30px;
  top: 50px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}