<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <!--<a id="signin_href" href="signin/sign_in.html">sign in</a>
    <a href="signup/sign_up.html">sign up</a>-->
    <a id="signin_a" href="/sign_in">sign in</a>
    <a id="signup_a" href="/sign_up">sign up</a>
    <script src="client.js"></script>
</body>

</html>