<!DOCTYPE html>
<html>

<head>
    <title>Главная страница</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link type="image/png" rel="icon" href="images/exercise.png">
</head>

<body>
    <!--<a id="signin_href" href="signin/sign_in.html">sign in</a>
    <a href="signup/sign_up.html">sign up</a>-->
    <a href="/sign_in">sign in</a>
    <a href="/sign_up">sign up</a>
    <script src="client.js"></script>
</body>

</html>