<!DOCTYPE html>
<html>

<head>
    <title>Показатели тела</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="bodydata.css">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

</head>

<body>
    <a class="back mini" href="/parameters">back</a>
    <h2><%= parameter_name %></h2>
    <% data_list.forEach(function(row) { %>
        <div class="data">
            <%= new Date(row.created_at1).toLocaleDateString() %> <div><%= row.value1 %></div>
            
        </div>
    <% }); %>

    <h2>add new data</h2>
    <input id="body_data_input" type="number" value="0"/><br>
    <div id="error_placeholder"></div>
    <button id="add_body_data_button">add</button>
    <br>
    <button id="show_chart">show chart</button>
    <br>
    <canvas id="chart" width="800" height="400"></canvas>


    <script src="parameter_data.js"></script>
</body>

</html>