<!DOCTYPE html>
<html>

<head>
    <title>Профиль</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="right_options">
        <a class="mini" href="/profile_edit">edit</a>
        <a class="mini" href="/delete_user">delete</a>
    </div>
    
    <p><%= name %>'s profile</p> 
    <a href="/parameters">parameters</a>
    <a href="/training">training</a>
    <a href="/logout">log out</a>
    <script src="profile.js"></script>
</body>

</html>