<!DOCTYPE html>
<html>

<head>
    <title>Авторизация</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <a class="back" href="/">back</a>
    <h2>sign in</h2>
    <label>login</label>
    <input id="login_input" type="text" /><br>
    or<br>
    <label>email</label>
    <input id="email_input" type="email" value="anna@gmail.com" /><br>
    <label>password</label>
    <input id="password_input" type="password" value="anna" /><br>
    <div id="error_placeholder"></div>
    <button id="signin_button">sign in</button>
    <script src="sign_in.js"></script>
    <!--</form>-->
</body>

</html>