<!DOCTYPE html>
<html>

<head>
    <title>Тренировки</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="bodydata.css">
    <link type="image/png" rel="icon" href="images/exercise.png">
</head>

<body>
    <a class="back mini" href="/uprofile">back</a>
    <h2>exercise complexes</h2>


    <h2>add new complex</h2>
    <label>complex name</label>
    <input id="complex_input" type="text"/><br>
    <div id="error_placeholder"></div>
    <button id="add_complex_button">add</button>

    <!--<video width="320" height="240" controls>
        <source src="video.mp4" type="video/mp4">
        <source src="video.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>-->

    <script src="training.js"></script>
</body>

</html>