<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <a href="/body_data">add new parameter</a>
    <a href="/logout">log out</a>
    <script src="profile.js"></script>
</body>

</html>